<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <title>AAH | All About Healthy Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="AAH | All About Health Coin" />
    <meta name="author" content="c4ei.net">
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-45YTT8KLRJ');
    </script>

    <!-- ================== BEGIN core-css ================== -->
    <!-- favicon -->
    <link rel="apple-touch-icon" href="assets/images/fav.png" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/fav.png" />

    <link href="asset2/css/vendor.min.css" rel="stylesheet">
    <link href="asset2/css/app.min.css" rel="stylesheet">
    <!-- ================== END core-css ================== -->

</head>

<body>
    <!-- BEGIN #app --> 
    <!-- <div id="app" class="app app-sidebar-collapsed"> -->
    <div id="app" class="app"> 
        <!-- BEGIN #header -->
        <div id="header" class="app-header">
            <!-- BEGIN desktop-toggler -->
            <div class="desktop-toggler">
                <button type="button" class="menu-toggler" data-toggle-class="app-sidebar-collapsed" data-dismiss-class="app-sidebar-toggled" data-toggle-target=".app" id="_btnTg">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
            </div>
            <!-- BEGIN desktop-toggler -->

            <!-- BEGIN mobile-toggler -->
            <div class="mobile-toggler">
                <button type="button" class="menu-toggler" data-toggle-class="app-sidebar-mobile-toggled"
                    data-toggle-target=".app">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
            </div>
            <!-- END mobile-toggler -->

            <!-- BEGIN brand -->
            <div class="brand">
                <a href="/" class="brand-logo">
                    <span class="brand-img" style="background-color: rgb(233, 255, 108);">
                        <img src="/c4ei.png" border="0" style="margin-left: 15px;" />
                        <!-- <span class="brand-img-text text-theme">H</span> -->
                    </span>
                    <span class="brand-text">C4EI.NET</span>
                </a>
            </div>
            <!-- END brand -->

            <!-- BEGIN menu -->
            <div class="menu">
                <div class="menu-item dropdown">
                    <a href="javascript:alert('준비중(preparing)');" data-toggle-class="app-header-menu-search-toggled"
                        data-toggle-target=".app" class="menu-link">
                        <div class="menu-icon"><i class="bi bi-search nav-icon"></i></div>
                    </a>
                </div>
                <div class="menu-item dropdown dropdown-mobile-full">
                    <a href="javascript:alert('준비중(preparing)');" data-bs-toggle="dropdown" data-bs-display="static"
                        class="menu-link">
                        <div class="menu-icon"><i class="bi bi-grid-3x3-gap nav-icon"></i></div>
                    </a>
                    <div class="dropdown-menu fade dropdown-menu-end w-300px text-center p-0 mt-1">
                        <div class="row row-grid gx-0">
                            <div class="col-4">
                                <a href="javascript:alert('준비중(preparing)');"
                                    class="dropdown-item text-decoration-none p-3 bg-none">
                                    <div class="position-relative">
                                        <i
                                            class="bi bi-circle-fill position-absolute text-theme top-0 mt-n2 me-n2 fs-6px d-block text-center w-100"></i>
                                        <i class="bi bi-envelope h2 opacity-5 d-block my-1"></i>
                                    </div>
                                    <div class="fw-500 fs-10px text-inverse">INBOX</div>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="javascript:alert('준비중(preparing)');" target="_blank"
                                    class="dropdown-item text-decoration-none p-3 bg-none">
                                    <div><i class="bi bi-hdd-network h2 opacity-5 d-block my-1"></i></div>
                                    <div class="fw-500 fs-10px text-inverse">POS SYSTEM</div>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="javascript:alert('준비중(preparing)');"
                                    class="dropdown-item text-decoration-none p-3 bg-none">
                                    <div><i class="bi bi-calendar4 h2 opacity-5 d-block my-1"></i></div>
                                    <div class="fw-500 fs-10px text-inverse">CALENDAR</div>
                                </a>
                            </div>
                        </div>
                        <div class="row row-grid gx-0">
                            <div class="col-4">
                                <a href="javascript:alert('준비중(preparing)');"
                                    class="dropdown-item text-decoration-none p-3 bg-none">
                                    <div><i class="bi bi-terminal h2 opacity-5 d-block my-1"></i></div>
                                    <div class="fw-500 fs-10px text-inverse">HELPER</div>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="javascript:alert('준비중(preparing)');"
                                    class="dropdown-item text-decoration-none p-3 bg-none">
                                    <div class="position-relative">
                                        <i
                                            class="bi bi-circle-fill position-absolute text-theme top-0 mt-n2 me-n2 fs-6px d-block text-center w-100"></i>
                                        <i class="bi bi-sliders h2 opacity-5 d-block my-1"></i>
                                    </div>
                                    <div class="fw-500 fs-10px text-inverse">SETTINGS</div>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="javascript:alert('준비중(preparing)');"
                                    class="dropdown-item text-decoration-none p-3 bg-none">
                                    <div><i class="bi bi-collection-play h2 opacity-5 d-block my-1"></i></div>
                                    <div class="fw-500 fs-10px text-inverse">WIDGETS</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-item dropdown dropdown-mobile-full">
                    <a href="javascript:alert('준비중(preparing)');" data-bs-toggle="dropdown" data-bs-display="static"
                        class="menu-link">
                        <div class="menu-icon"><i class="bi bi-bell nav-icon"></i></div>
                        <div class="menu-badge bg-theme"></div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end mt-1 w-300px fs-11px pt-1">
                        <h6 class="dropdown-header fs-10px mb-1">NOTIFICATIONS</h6>
                        <div
                            class="d-flex align-items-center py-10px dropdown-item text-wrap fs-6 bg-inverse bg-opacity-15 text-inverse text-opacity-50 h-100px">
                            No record found
                        </div>
                        <hr class="my-0">
                        <div class="py-10px mb-n2 text-center">
                            <a href="javascript:alert('준비중(preparing)');" class="text-decoration-none fw-bold">SEE
                                ALL</a>
                        </div>
                    </div>
                </div>
                <div class="menu-item dropdown dropdown-mobile-full">
                    <a href="javascript:alert('준비중(preparing)');" data-bs-toggle="dropdown" data-bs-display="static"
                        class="menu-link">
                        <div class="menu-img online">
                            <div
                                class="d-flex align-items-center justify-content-center w-100 h-100 bg-inverse bg-opacity-25 text-inverse text-opacity-50 rounded-circle overflow-hidden">
                                <i class="bi bi-person-fill fs-32px mb-n3"></i>
                            </div>
                        </div>
                        <div class="menu-text d-sm-block d-none w-10px">&nbsp;</div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end me-lg-3 fs-11px mt-1">
                        <a class="dropdown-item d-flex align-items-center"
                            href="javascript:alert('준비중(preparing)');">PROFILE <i
                                class="bi bi-person-circle ms-auto text-theme fs-16px my-n1"></i></a>
                        <a class="dropdown-item d-flex align-items-center"
                            href="javascript:alert('준비중(preparing)');">INBOX <i
                                class="bi bi-envelope ms-auto text-theme fs-16px my-n1"></i></a>
                        <a class="dropdown-item d-flex align-items-center"
                            href="javascript:alert('준비중(preparing)');">CALENDAR <i
                                class="bi bi-calendar ms-auto text-theme fs-16px my-n1"></i></a>
                        <a class="dropdown-item d-flex align-items-center"
                            href="javascript:alert('준비중(preparing)');">SETTINGS <i
                                class="bi bi-gear ms-auto text-theme fs-16px my-n1"></i></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item d-flex align-items-center"
                            href="javascript:alert('준비중(preparing)');">LOGOUT <i
                                class="bi bi-toggle-off ms-auto text-theme fs-16px my-n1"></i></a>
                    </div>
                </div>
            </div>
            <!-- END menu -->

            <!-- BEGIN menu-search -->
            <form class="menu-search" method="POST" name="header_search_form">
                <div class="menu-search-container">
                    <div class="menu-search-icon"><i class="bi bi-search"></i></div>
                    <div class="menu-search-input">
                        <input type="text" name="txt_menuSearch" class="form-control form-control-lg" placeholder="Search menu...">
                    </div>
                    <div class="menu-search-icon">
                        <a href="javascript:alert('준비중(preparing)');" data-toggle-class="app-header-menu-search-toggled"
                            data-toggle-target=".app"><i class="bi bi-x-lg"></i></a>
                    </div>
                </div>
            </form>
            <!-- END menu-search -->
        </div>
        <!-- END #header -->

        <!-- BEGIN #sidebar -->
        <div id="sidebar" class="app-sidebar">
            <!-- BEGIN scrollbar -->
            <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
                <!-- BEGIN menu -->
                <div class="menu">
                    <div class="menu-header">Navigation</div>
                    <div class="menu-item active">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="bi bi-house-door"></i></span>
                            <span class="menu-text">Home</span>
                        </a>
                        <a href="https://c4ex.net" class="menu-link" target="_blank">
                            <span class="menu-text">TRADING(CEX)</span>
                        </a>
                        <a href="https://ai.c4ex.net" class="menu-link" target="_blank">
                            <span class="menu-text">AI CHAT</span>
                        </a>
                        <a href="https://nft.c4ex.net" class="menu-link" target="_blank">
                            <span class="menu-text">AAH NFT Auction</span>
                        </a>
                        <a href="https://dex.c4ex.net" class="menu-link" target="_blank">
                            <span class="menu-text">AAH DEX</span>
                        </a>
                        <a href="https://aah.c4ex.net" class="menu-link" target="_blank">
                            <span class="menu-text">AAH Web Wallet</span>
                        </a>
                        <a href="https://dap.c4ex.net" class="menu-link" target="_blank">
                            <span class="menu-text">AAH DAP</span>
                        </a>
                        <a href="https://shop.c4ei.net" class="menu-link" target="_blank">
                            <span class="menu-text">SHOP</span>
                        </a>
                        <a href="https://lotto.c4ei.net" class="menu-link" target="_blank">
                            <span class="menu-text">LOTTO</span>
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=net.c4ei.aahwallet" class="menu-link" target="_blank">
                            <span class="menu-text">AAH wallet</span>
                        </a>
                        <a href="https://gplay.c4ei.net" class="menu-link" target="_blank">
                            <span class="menu-text">구글플레이관련처리</span>
                        </a>
                    </div>
                </div>
                <!-- END menu -->
            </div>
            <!-- END scrollbar -->
        </div>
        <!-- END #sidebar -->

        <!-- BEGIN mobile-sidebar-backdrop -->
        <button class="app-sidebar-mobile-backdrop" data-toggle-target=".app"
            data-toggle-class="app-sidebar-mobile-toggled"></button>
        <!-- END mobile-sidebar-backdrop -->

        <!-- BEGIN #content -->
        <div id="content" class="app-content">
            <!-- <ul class="breadcrumb">
                <li class="breadcrumb-item active">HOME PAGE</li>
            </ul> -->

            <!-- <h1 class="page-header">
				Starter Page <small>page header description goes here...</small>
			</h1>
			
			<p>
				Start build your page here
			</p> -->

            <!-- <h4>AAH 프로젝트 소개</h4> -->
            <h2><img src="https://i.ibb.co/VLXwBY3/AAH-256.png" width="32" height="32" /> 
                All About Health 
                <!-- - 건강의, 건강에 의한, 건강을 위한 네트워크 AAH. -->
            </h2>

            <a href="https://docs.google.com/document/d/1yavY9OEqn0HUPwB_eUCxFQETealZdzQu1rj7yUnmV2M/edit?usp=sharing" target="_blank">AAH 구매방법(How to purchase AAH)</a>
            <br /><hr/><br />
            <h3>What is AllAboutHealth Coin?</h3>
            AllAboutHealth Coin is a MainNet cryptocurrency that operates on a blockchain with a block creation time of just 5 seconds. 210,000,000 is the maximum issuance quantity for the stable and secure digital asset, AAH Coin. The chain ID for AAH is 21133, making it easily identifiable and accessible to various blockchain explorers.

            <br /><br /><h3>Key Features of AllAboutHealth Coin</h3>
            One of the key features of AAH Coin is its focus on security and efficiency and by integrating AAH with existing platforms like C4EI, users can benefit from economic and security synergies. AAH also offers a range of applications and services, including an AAH Wallet for Android, where users can securely store and manage their AAH coins.

            <br /><br /><h3>Play To Earn and Gaming Integration for AllAboutHealth</h3>
            AAH Coin is not just about transactions; it’s also about creating value and engagement for users. The ecosystem includes Android games where users can exchange AAH for in-game currency and even mine AAH every 8 hours. Games like cardAAH, SEAAAH, and majakAAH offer exciting gameplay and rewards, creating a unique gaming experience for users.

            <br /><br /><h3>Next-Generation Smart Contracts</h3>
            At the heart of AAH Coin is its next-generation smart contract platform. Built on a blockchain with a built-in Turing-complete programming language, AAH allows developers to create complex decentralized applications with ease. Whether it’s creating custom currencies, financial instruments, or smart property, AAH’s smart contracts offer unparalleled flexibility and security.

            <br /><br /><h3>Token Systems and Financial Applications</h3>
            AAH Coin also supports on-blockchain token systems, enabling a wide range of applications, including sub-currencies, company stocks, and secure coupons. Implementing token systems on AAH is straightforward, thanks to its robust and secure infrastructure.

            <br /><br /><h3>Blockchain and Mining</h3>
            AAH’s blockchain architecture is similar to Bitcoin’s but with some key differences. Blocks contain a copy of both the transaction list and the most recent state, ensuring efficiency and security. The block validation algorithm in AAH prevents fraud and ensures the integrity of the blockchain.

            <br /><br /><h3>The Future of AAH Coin</h3>
            The project, AAH, is committed to creating a thriving ecosystem for decentralized applications despite currently suspending its Play To Earn implementation. Additionally, AAH Coin, with its focus on security, efficiency, and innovation, is poised to revolutionize the world of decentralized finance and applications.

            <br /><br /><h3>Conclusion</h3>
            Additionally, All About Health (AAH) Coin is more than just a cryptocurrency, it’s a platform for innovation and creativity. Furthermore, a major player in the world of decentralized applications, AAH Coin, boasts an advanced smart contract platform, an integrated gaming ecosystem, and a strong focus on security. Whether you’re a developer looking to create the next big thing or a gamer looking for new challenges, AAH Coin has something for everyone.
            <br /><br />
            <br /><br /><h3>올어바웃헬스 코인은 무엇인가요?</h3>
            AllAboutHealth 코인은 블록 생성 시간이 단 5초인 블록체인에서 작동하는 메인넷 암호화폐입니다. 안정적이고 안전한 디지털 자산 AAH Coin의 최대 발행수량은 210,000,000개입니다. AAH의 체인 ID는 21133이므로 다양한 블록체인 탐색기에서 쉽게 식별하고 액세스할 수 있습니다.
            <br /><br /><h3>AllAboutHealth 코인의 주요 특징</h3>
            AAH 코인의 주요 특징 중 하나는 보안과 효율성에 중점을 두고 있다는 점이며, AAH를 C4EI와 같은 기존 플랫폼과 통합함으로써 사용자는 경제적, 보안적 시너지 효과를 누릴 수 있습니다. AAH는 또한 사용자가 AAH 코인을 안전하게 저장하고 관리할 수 있는 Android용 AAH 지갑을 포함하여 다양한 애플리케이션과 서비스를 제공합니다.
            <br /><br /><h3>AllAboutHealth를 위한 Play To Earn 및 게임 통합</h3>
            AAH 코인은 단지 거래에 관한 것이 아닙니다. 이는 또한 사용자를 위한 가치와 참여를 창출하는 것이기도 합니다. 생태계에는 사용자가 AAH를 게임 내 통화로 교환하고 8시간마다 AAH를 채굴할 수도 있는 Android 게임이 포함되어 있습니다. CardAAH, SEAAAH, majakAAH와 같은 게임은 흥미진진한 게임 플레이와 보상을 제공하여 사용자에게 독특한 게임 경험을 선사합니다.
            <br /><br /><h3>차세대 스마트 계약</h3>
            AAH 코인의 중심에는 차세대 스마트 계약 플랫폼이 있습니다. Turing-complete 프로그래밍 언어가 내장된 블록체인을 기반으로 구축된 AAH를 통해 개발자는 복잡한 분산형 애플리케이션을 쉽게 만들 수 있습니다. 맞춤형 통화, 금융 상품, 스마트 자산 등을 생성하는 등 AAH의 스마트 계약은 비교할 수 없는 유연성과 보안을 제공합니다.
            <br /><br /><h3>토큰 시스템 및 금융 애플리케이션</h3>
            AAH 코인은 또한 블록체인 토큰 시스템을 지원하여 하위 통화, 회사 주식 및 보안 쿠폰을 포함한 광범위한 응용 프로그램을 가능하게 합니다. 강력하고 안전한 인프라 덕분에 AAH에서 토큰 시스템을 구현하는 것은 간단합니다.
            <br /><br /><h3>블록체인과 채굴</h3>
            AAH의 블록체인 아키텍처는 비트코인과 유사하지만 몇 가지 중요한 차이점이 있습니다. 블록에는 거래 목록과 최신 상태의 사본이 모두 포함되어 효율성과 보안이 보장됩니다. AAH의 블록 검증 알고리즘은 사기를 방지하고 블록체인의 무결성을 보장합니다.
            <br /><br /><h3>AAH 코인의 미래</h3>
            AAH 프로젝트는 현재 Play To Earn 구현을 중단했음에도 불구하고 분산형 애플리케이션을 위한 번성하는 생태계를 만들기 위해 최선을 다하고 있습니다. 또한 보안, 효율성 및 혁신에 중점을 둔 AAH 코인은 분산형 금융 및 애플리케이션의 세계에 혁명을 일으킬 준비가 되어 있습니다.
            <br /><br /><h3>결론</h3>
            또한 AAH(All About Health) 코인은 단순한 암호화폐가 아니라 혁신과 창의성을 위한 플랫폼입니다. 또한 분산형 애플리케이션 세계의 주요 플레이어인 AAH 코인은 고급 스마트 계약 플랫폼, 통합 게임 생태계 및 보안에 대한 강력한 초점을 자랑합니다. 차세대 혁신을 추구하는 개발자이든 새로운 도전을 모색하는 게이머이든 AAH Coin은 모두를 위한 무언가를 제공합니다.
            

            <br />
            <hr />
            <h4>AAH 백서 (AAH whitepaper)</h4>
            <a
            href="https://docs.google.com/document/d/1ERmQOBm7NwanICvbAgQO35nIfzTqkf4cnWiiLN4laJM/edit?usp=sharing"
            target="_blank" title="AAH white paper korean">한국어</a> ,
            <a href="https://docs.google.com/document/d/1pa_NOiHPaeJH0U5Xk9yzgLX3uiaUe3Zdf_RB-6cbUjw/edit?usp=sharing"
            target="_blank" title="AAH white paper korean">English</a>
             / <a href="/download/AAH.pdf" target="_blank" title="AAH법률검토의견서">AAH법률검토의견서</a> / 
            <a href="https://exp.c4ex.net" target="_blank">explorer</a> / 
            <a href="https://stat.c4ex.net" target="_blank">status</a>
            <br /><hr/><br />
            ◎ AAH 는 <a href="https://c4ex.net" target="_blank">https://c4ex.net</a> 에서 거래 가능합니다.<br />
            <a href="javascript:jsfn_open_metaAAHPop();">메타마스크에 AAH추가(Add AAH to metamask)</a><br />
            <a href="https://play.google.com/store/apps/details?id=net.c4ei.aahwallet" target="_blank">AAH Wallet-download (AAH 주소 생성)</a>

            <!-- <hr/> -->
            <br /><hr/><br />
            ◎<a href="https://c4ex.net" target="_blank">C4EX</a>에서의 미국달러(USDT) 주소는 아래와 같습니다. USDT 주소가 AAH 는 AusDDeFi (AUSD) 입니다.!!!!<br />
            AAH-AUSD contract address : <a href="https://exp.c4ex.net/address/0x3adBF8fa04c21517D8E50908305D0413D2A44300" target="_blank">0x3adBF8fa04c21517D8E50908305D0413D2A44300</a><br />
            C4EI-USDT contract address : <a href="https://exp.c4ei.net/contracts/0xf10e02ce41b28e52ad015eae3a83e040d4aee3a8" target="_blank">0xf10e02ce41b28e52ad015eae3a83e040d4aee3a8</a><br />
            <!-- KLAY-AUSD contract address : <a href="https://klaytnscope.com/account/0xE022f24EDd0558F22ECbd19c8Ad140a5F59B9a67" target="_blank">0xE022f24EDd0558F22ECbd19c8Ad140a5F59B9a67</a><br /> -->
            착오 송금에 주의해 주세요!

            <br /><hr/><br />

            ○ AAH로 아래와 같은 프로젝트를 진행 혹은 완료 하였습니다.
            <br /><br />

                        <!-- C4EI 는 무료 배로로 나간 수량이 99% 여서 실제 사업에 적용 하기 힘들었습니다.<br /> -->
            <!-- <img src="https://i.ibb.co/tXW6FxL/c4ex-net.png" alt="c4ex-net" border="0"><br /> -->
            <img src="https://i.ibb.co/9wRKnck/c4ex-net2.png" alt="c4ex-net2" border="0" height="260">
            <img src="https://i.ibb.co/JCjbpXj/c4ex-wallet-A.png" alt="c4ex-net3" border="0" height="260">

            <br /><a href="https://c4ex.net" target="_blank">c4ex.net</a> 
            <a href="https://docs.google.com/document/d/11h0WhWO0GCep63sKr9i0xM13nrllVVIBPZVs84re8Jk/edit?usp=sharing" target="_blank">(CEX 설명서)</a> 
            <br /><hr/><br />

            <img src="https://i.ibb.co/1sgvtkc/ai.png" alt="aahwebwallet" border="0"  height="260">
            <br /><a class="gafi" href="https://ai.c4ex.net" target="_blank">AI CHAT</a> 
            <a href="https://docs.google.com/document/d/1QUb79TsIFxoCQaJcsuwqHZd0voUmY-4DOGSaAgQS4vM/edit?usp=sharing" target="_blank">(설명서)</a> 
            <br /><br />

            <img src="https://i.ibb.co/mzRC9ck/aahwebwallet.png" alt="aahwebwallet" border="0"  height="260">
            <br /><a class="gafi" href="https://aah.c4ex.net" target="_blank">AAH Web Wallet</a> 
            <a href="https://docs.google.com/document/d/1nq8YLPS0nKqUAq0yAKlkjnNF8LDVC0880sTUSYHGFLs/edit?usp=sharing" target="_blank">(설명서)</a> 
            <br /><br />

            <img src="https://i.ibb.co/y8hFcFq/dex-c4ex-net1.png" alt="dex-c4ex-net1" border="0" height="380">
            <img src="https://i.ibb.co/kcBtCDV/dex-c4ex-net2.png" alt="dex-c4ex-net2" border="0" height="380">
            <br /><a href="https://dex.c4ex.net" target="_blank">AAH DEX</a> 
            <a href="https://docs.google.com/document/d/15KtmcTW50roeYVfKlhGI64D6Uu81BxQYnt421xpNhoo/edit?usp=sharing" target="_blank">(DEX 설명서)</a> 
            
            <br /><hr/><br />
            <img src="https://i.ibb.co/z7FfPkt/lotto.png" alt="lotto1" border="0" height="380">
            <img src="https://i.ibb.co/Hq9gfdN/lotto2.png" alt="lotto2" border="0" height="380">
            <br />
            <img src="https://i.ibb.co/MCVhNH3/lotto3.png" alt="lotto3" border="0" height="380" style="margin-top: 10px;">
            <br /><a href="https://lotto.c4ei.net" target="_blank">AAH LOTTO</a> 
            <a href="https://docs.google.com/document/d/1ybuBXgRUDslYqE7Pl6And3idmyHmsQ2PvxVUnErXG2U/edit?usp=sharing" target="_blank">(LOTTO 설명서)</a> 
            <br /><hr/><br /><a href="https://nft.c4ex.net" target="_blank">AAH NFT Auction</a> 
            <a href="https://docs.google.com/document/d/1S3HcMW2EmzvCEtDeF4JdSrbZOuO0JdPOHl5Stc0lhbE/edit?usp=sharing" target="_blank">(설명서)</a>
                <!-- <a href="https://docs.google.com/document/d/1xSZl4mkRTYUpkVAIjf2JFIrwPCphLRLprzHRd_T6k6s/edit?usp=sharing" target="_blank">(NFT 설명서)</a> -->
            <br /><hr/><br /><a href="https://shop.c4ei.net" target="_blank">쇼핑몰(SHOP)</a> 
            <a href="https://docs.google.com/document/d/1cVD4bqt3K9rIK2kO1SCSWljD0X0mJ-OceeK_F3DBnaU/edit?usp=sharing" target="_blank">(설명서)</a>
            <br /><hr/><br />
            <a href="https://docs.google.com/document/d/1MCmSWgJcJvnGi8mSXJoL9j4fXxYeat8bL12aeWuQvqE/edit?usp=sharing" target="_blank">DAP.C4EX.NET - AAH 수량 늘이기 (年12%) DOC</a>
            <br /><hr/><br />
            <img src="https://i.ibb.co/x2YChq3/aahwallet.png" alt="aahwallet" border="0" height="380"><br />
            <a href="https://play.google.com/store/apps/details?id=net.c4ei.aahwallet" target="_blank">AAH Wallet-download</a>
            <br /><hr/><br />

            ◎ <a href="https://shop.c4ei.net" target="_blank">shop.c4ei.net</a> - partner <br />
            <div style="height: 120px; overflow: auto;padding: 10px;">
                <img src="https://i.ibb.co/5vgnxxc/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/xGTQwgz/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/5LzVfNC/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/jfXd9dm/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/gW3F61X/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/88J4QLT/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/6ZtB5nb/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/MnydK1p/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/VTq67yC/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/rd68yX3/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/VHRgJQG/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/WfxKjCW/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/BZRZGdG/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/dbgvhpw/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/qYj2NVq/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/3hX32zY/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/Z11HQzM/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/yXKKLYb/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/XXMMdLC/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/PgHZZS4/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/27JK4By/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/gZRm9sQ/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/pb3kZJG/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/FqFPSt3/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/D7NYJRd/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/qsVhdMj/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/0jkrgcG/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/ZTq2jyg/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/hyy0R3p/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/VTQDmMt/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/58zByNQ/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/khtFSw8/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/FsjBmHL/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/g4vf1qH/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/KVtkHfR/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/xGHYKtf/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/MVx392C/image.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
                <img src="https://i.ibb.co/NWXwBs9/2.png" border="0" style="height: 80px;padding:5px 5px 5px 5px;"></a>
            </div>

        </div>

    <!-- END #content -->


    <!-- BEGIN btn-scroll-top -->
    <a href="javascript:alert('준비중(preparing)');" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
    <!-- END btn-scroll-top -->
    </div>
    <!-- END #app -->
    <div class="copyright-area text-center mb-0">
        <hr/>
        <div style="padding-top: 20px;padding-bottom: 20px;">Copyright © 2021. All Rights Reserved by C4EI
            <a class="gafi" href="https://gplay.c4ei.net" target="_blank">구글플레이환불</a>
            / <a class="gafi" href="https://shop.c4ei.net" target="_blank">SHOP</a>
            / <a class="gafi" href="https://c4ex.net" target="_blank">AAH TRADE</a>
            / <a class="gafi" href="https://nft.c4ex.net" target="_blank">NFT Auction</a>
            / <a class="gafi" href="https://aah.c4ex.net" target="_blank">AAH Web Wallet</a>
            / <a class="gafi" href="https://ai.c4ex.net" target="_blank">AI CHAT</a>
        </div>
    </div>

    <!-- ================== BEGIN core-js ================== -->
    <script src="asset2/js/vendor.min.js"></script>
    <script src="asset2/js/app.min.js"></script>
    <script>
        function jsfn_openmetaPop() {
            window.open("https://c4ei.net/metapop.html", "_blank", "width=500,height=500,top=100,left=100");
        }
        function jsfn_open_metaAAHPop() {
            window.open("https://c4ei.net/metaAAH.html", "_blank", "width=500,height=500,top=100,left=100");
        }
    </script>

    <!-- ================== END core-js ================== -->

<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
    try{
        if(!wcs_add) var wcs_add = {};
        wcs_add["wa"] = "1140715e7ab8700";
        if(window.wcs) { wcs_do(); }
    }
    catch(e){}
</script>
<!-- <a href="https://analytics.naver.com/summary/dashboard.html">naver</a> -->
</body>

</html>